* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header_bg {
  height: 30%;
  background-image: url("images/pattern-bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  text-align: center;
}

.header_title {
  color: white;
  margin: 30px 0;
}
.header_input_container {
  display: flex;
  margin: 0 auto;
  width: 90%;
}
.header_input {
  height: 45px;
  flex-grow: 1;
  border-radius: 12px 0 0 12px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 540;
}
.header_send {
  background-color: black;
  width: 50px;
  border-radius: 0 12px 12px 0;
  border: none;
  cursor: pointer;
}

.header_info {
  height: 250px;
  width: 90%;
  background-color: white;
  margin: 20px auto 0 auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.info_title {
  color: grey;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 1px;
}
.header_info:first-child {
  margin-top: 20px;
}
#mapid {
  height: 70%;
  z-index: 1;
}

@media only screen and (min-width: 800px) {
  .header_info {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    max-height: 180px;
    margin-top: 40px;
  }
  .header_info > div {
    border-left: 2px lightgray solid;
  }
  .header_input_container {
    max-width: 600px;
  }
  .info_title,
  .info_value {
    text-align: start;
  }
  .info_title {
    margin-top: -10px;
  }
  .info_container {
    padding-left: 30px;
    width: 250px;
    height: 60px;
  }
  #firstinfo {
    border: none;
  }
}
